#eclipse files
.classpath
.project
.settings/

#maven files
target/

#project-specific files
log.out
DaemonLoggingExample.*

#using extresources temporarily to test
src/extresources/*.jar
src/extresources/dependency/
src/extresources/prunsrv.exe